* {
	box-sizing: border-box;
    
}
*::before,
*::after {
	box-sizing: border-box;
}

img {
    max-width: 100%;
}
body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
}
h1 {
    position: absolute;
    visibility: hidden;
}

   /* html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    
    } */

.list-reset { /*применять для списков ul*/
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn-reset {   
    outline: none; 
	padding: 20px 75px;
	border: none;
	background-color: transparent;
	cursor: pointer;

    border-radius: 5px;
    line-height: 21px;
    text-align: center;
    font-weight: 500;
    height: 61px;
    font-size: 18px;
    white-space: nowrap;
}
main {
    display: flex;
}

.site-wrapper {
    max-width: 1920px; 
    margin: 0 auto; 
    overflow-x: hidden;
}

.container {
    /* overflow: hidden; */
	width: 1800px;
    /* margin: 0 auto; */
	/* margin: 0 auto; */
    padding-left: 244px;
    /* padding-left: 154px; */
    /* padding-left: 184px; */
}
.main-content {
    width: 100%;
    margin-left: -90px;
}
.navigation-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 154%;
    /* color: #080029; */
    /* position: relative; */
}

/* .three-container {
    padding: 0px 184px 0 0px;
} */

.subtitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #0B0B0B;
    letter-spacing: 0.115em;
}
.zoo-subtitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 154%;
    color: #747474;
}

.title {
    margin: 0;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 145%;
    color: #080029;
}
.discription {
    font-size: 18px;
    line-height: 154%;
    color: #747474;
}
.navigation-link {
    color: #BCBCBC;
}



/*          HEADER           */
.header {
    background-color: #FCFCFC;
    margin-top: 25px;
    margin-left: 60px; 
    position: absolute;   
    z-index: 2;
}

.header__container {
    width: 1800px;
    display: flex;
    justify-content: space-between;    
    border: 2px solid #F0F0F0;
    background: rgba(252, 252, 252, 0.02); 
}

.logo {
    visibility: hidden;
    padding: 23px 16.28px 0px 16.35px;
    border-right: 2px solid #F0F0F0;
    /* margin-right: 75px;     */
}


.header__navigation {
    width: 800px;
    padding-top: 30px;
    margin-left: 93px;
}
.header__navigation-wrapper {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-right: auto    
}

.header__navigation-item {
    color: #080029;
}
.header_active {
    font-weight: 500;
    color: #080029;
    cursor: default;
}
.header_disable:hover {
    text-shadow: 0 0 .50px #080029, 0 0 .50px #080029;
    transition: 0.2s all;
}


.header__profile-button {    
    margin: 16px 85px 16px 0 ;    
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #0F0049;
    /* padding: 17px 90px 11px 0px;   */
    transition: 0.2s all;  
    position: relative;
    cursor: pointer;
}
.header__profile-button img {    
    position: absolute;
    top: 10px;
    left: 13px;
    width: 26px;
    height: 33px;    
}
.header__profile-button:hover {
    background: #080029;
    /* transform: scale(1.05); */
}
.header__profile-button:active {
    background: #150068;
    transform: scale(0.95);
}


/*          /HEADER           */

/*          ASIDE           */

.aside {
    /* margin-top: -90px; */
    margin-top: 25px;
    top: 25px;
    left: 59px;
    width: 90px;
    height: 760px;
    border: 2px solid #F0F0F0;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    text-align: center;
    position: sticky;
    z-index: 2;
    /* backdrop-filter: blur(5px); */
    
}
.aside__logo {
    width: 90px;
    height: 86px;
    padding-top: 23px;
    padding-right: 4px;
    border-bottom: 2px solid #F0F0F0;
}
.aside__content {
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FCFCFC;
}
.aside_arrow-btn {
    outline: none;
    border: none;
    background: #FCFCFC;
    width: 86px;
    height: 86px;
}
.aside_arrow-btn:hover {
    background-color: #f5f2f2;
    cursor: pointer;    
}

.aside__animals {
    margin-left: 17px;
    height: 436px;
    width: 55px;
    background: #FCFCFC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aside__animal-item {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    transition: 0.2s all;
}
.acide_active {
    transform: scale(1.1);
    border: 2px solid #609FFF;
}
.acide_disable {
    border: 2px solid #D9E8FF;
    cursor: pointer;
}

.acide_disable:hover {
    transform: scale(1.1);
    border: 2px solid #609FFF;
}

.aside__animal-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

/*          /ASIDE           */

/*          HERO           */

.hero {  
    padding-top: 117px;
    padding-bottom: 42px;    
    background: url(/trickster69-JSFE2021Q1/online-zoo/assets/images/map/map.png) ;
    background-size: cover;
    /* background: red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 860px;
}

.map-card {
    position: absolute;
    top: 11.9%;
    left: 30.39%;
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 512px;

    background: #FCFCFC;
    box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    overflow: hidden;
}
.map-card__image {
    width: 344px;
    height: 218px;  
    
}

.map-card__title {     
    margin: 21px 0;
    text-align: center;
}
.map-card__dicr {
    max-width: 264px;
    text-align: center;
    margin: 0 auto;
    
}
.map-card__btn {
    padding-left: 112px;
    margin-top: 7px;
    color: #3888FF;
}
.map-card__btn-arrow {
    padding-left: 5px;
}

.map-animal-icons__item:hover .map-animal-icon__border {
    stroke:#609FFF;
    stroke-width: 2px;    
}
.map-animal-icons__item {
    transition: 0.2s all;
    -webkit-filter: drop-shadow(1px 12px 22px rgba(0, 0, 0, 0.09));

}
.map-animal-icons__item:hover {
    transform: scale(1.16);
    cursor: pointer;
}


.marker_active .map-animal-icon__border {
    stroke:#609FFF;
    stroke-width: 2px; 
}
.marker_active .map-animal-icons__item {
    transform: scale(1.16);
}

.sixth-screen__item-1 {     
    position: absolute;
    top: 0px;
    left: 0px;
}
.sixth-screen__item-2 {
    position: absolute;
    top: 22.7%;
    left: 12%;
}
.sixth-screen__item-3 {
    position: absolute;
    top: 50.7%;
    left: 48.3%;
}
.sixth-screen__item-4 {
    position: absolute;
    top: 27.5%;
    left: 83.7%;
}

/*MAP*/
