* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}

img {
    max-width: 100%;
}
body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    height: 1900px;
}

.list-reset { /*применять для списков ul*/
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn-reset {    
	padding: 20px 75px;
	border: none;
	background-color: transparent;
	cursor: pointer;

    border-radius: 5px;
    line-height: 21px;
    text-align: center;
    font-weight: 500;
    height: 61px;
    font-size: 18px;
    white-space: nowrap;
}


.container {
	max-width: 1800px;
    width: 100%;
	margin: 0 auto;
    /* padding-left: 184px; */
}
.navigation-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 154%;
    /* position: relative; */
}

.three-container{
    padding: 0px 184px 0 184px;
}

.subtitle{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.115em;
    color: #626262;
}

.title{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 145%;
    color: #080029;
}
.discription{
    font-size: 18px;
    line-height: 154%;
    color: #747474;
}



/*          HEADER           */
.header {
    /* min-width: 1920px;     */
    width: 100%;
    margin-top: 25px;
    /* position: absolute;
    left: 0;
    top: 0; */
    
}

.header__container{
    width: 100%;
	margin: 0 auto;  
    display: flex;
    justify-content: space-between;    
    border: 2px solid #F0F0F0;
    background: rgba(252, 252, 252, 0.02);    
    position: relative;
}

.logo{
    padding: 23px 19.28px 0px 16.35px;
    border-right: 2px solid #F0F0F0;
    /* margin-right: 75px;     */
}

.header__navigation{
    left: 183px;
    /* margin-left: -563px; */
    position: absolute;
    max-width: 800px;
    width: 100%;
    padding-top: 33px;
    
    
}
.header__navigation-wrapper{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}


.header__profile-button{
    padding: 17px 90px 11px 0px;    
}
/*          /HEADER           */

/*          ASIDE           */
.aside{
    position: absolute;
    margin-top: 24px;
    margin-left: 528px;
    background: red;
}
.aside-inner {
    width: 90px;
    height: 760px;
    border: 2px solid #F0F0F0;
    
    position: fixed
}
/*          /ASIDE           */

/*          HERO           */
.hero__content{
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}
.hero__text{
    margin-top: 34px;
}
.hero__subtitle{
    padding-top: 45px;
}

.hero__title{
    width: 697px;
    margin: 26px 0 60px 0;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 84px;
    line-height: 106px;
    color: #080029;
}
.hero__buttons{
    margin-top: 10px;
    max-width: 573px;
    display: flex;
    justify-content: space-between;
}
.hero__choose-button{
    width: 250px;
    background: #080029;
    color: white;
}
.hero__watch-button{
    width: 261px;
    border: 2px solid #080029;
    color: #080029;
}
/*          ANIMATION I          */
.hero__dot-i {
    margin : -12px 0 0 0;
    line-height: 0.55;
}

span {
    display: inline-block;
}

.hero__stack {
    display: block;
}

@keyframes bounce {
    from {
        transform: translate3d(2px, 0, 0);
    }

    to {
        transform: translate3d(2px, -12px, 0);
    }
}

.hero_bouncing {
    color: red;
    animation                : bounce 0.4s;
    animation-iteration-count: infinite;
    animation-direction      : alternate;
}
/*          /ANIMATION I          */
/*          /HERO           */



/*          SECOND           */
.second-screen__content{
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    
}
.second-screen__text{
    width: 696px;
    height: 477px;
    margin-top: 140px;
    
}
.second-screen__title{
    padding-top: 20px;
}

.second-screen__discr{
    padding-top: 11px;
}
.second-screen__button{
    margin-top: 62px;
    width: 218px;
    background: #0F0049;
    color: #FCFCFC;
}

/*          /SECOND          */


/*          THIRD           */
.third-screen{
    margin-top: 107px;
    background: #D9E8FF;
    height: 896px;    
}

.third-screen__content{
    display: flex;
    justify-content: space-between;
}
.third-screen__text{
    margin-top: 317px;
    /* width: 326px; */
}
.third-screen__title{
    width: 325px;
    padding-top: 50px;
}

.slider-buttons {
    margin-top: 55px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.slider-buttons__item{
    width: 65px;
    height: 65px;
    background: #181818;
    border-radius: 50%;
    padding: 26px 17px 32px 18px;
    color: white;
}

.third-screen__images{
    margin-left: 44px;
    margin-top: 100px;
    width: 1800px;
    height: 700px;
    /* background-color: red; */
    overflow: hidden;
    display: grid;
    gap: 40px;
	grid-template-columns: repeat(3, 1fr);
}
/*          /THIRD          */


/*          FOURTH          */
.fourth-screen{
    position: relative;
    padding-bottom: 100px;
}
.fourth-screen__subtitle{
    margin-left: 368px;
    margin-top: 100px;
}
.fourth-screen-item{
    width: 824px;
    height: 312px;      
    display: flex;
    justify-content: space-between;
}
.fourth-screen-item__text{
    padding-top: 55px;
    width: 456px;
}

.fourth-screen__item-1{
    margin-top: 30px;
    margin-left: 368px;
}
.fourth-screen-item__discr{
    padding-top:31px ;
}
.fourth-screen__first-arrow{
    left: 902px;
    top: 313px;
    position: absolute;
}
.fourth-screen__item-2{
    margin-left: 920px;
    margin-top: 60px;
}
.payments-goes-block_text{
    padding-top: 104px;
}
.payments-goes-block_discr{
    padding-top: 31px;
}
.fourth-screen__second-arrow{
    left: 712px;
    top: 573px;
    position: absolute;
}
.fourth-screen__item-3{
    margin-left: 184px;
    margin-top: 45px;
}
.selected-animal-block_text{
    padding-top:43px ;
}
.selected-animal-block_discr{
    padding-top: 31px;
}
/*          /FOURTH          */



/*          FIFTH          */
.fifth-screen{
    padding: 101px;
    background: #080029;
}
.fifth-screen__container{
    padding-left: 184px;
}
.fifth-screen__content{
    display: flex;
    justify-content: space-between;
}
.fifth-screen__text{
    max-width: 512px;
}
.fifth-screen__subtitle{
    color: #FCFCFC;
}


.fifth-screen__title{
    color: #FCFCFC;
    padding-top: 37px;
    padding-bottom: 10px;
}
.fifth-screen__discr{
    color: #FCFCFC;
}

.fifth-screen-slider_open-more{
    padding-top: 2px;
    height: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FCFCFC;
}

.fifth-screen__button {
    width: 290px;
    margin-top: 60px;
    border: 2px solid #FCFCFC;
    background: #080029;
    color: #FCFCFC;
}
.slider-button_white{
    background: #FCFCFC;    
}
.fifth-screen-slider{
    margin-top: 28px;
    width: 1064px;    
    display: flex;
    justify-content: space-between;
}
.fifth-screen-slide{    
    padding: 40px 40px 73px 40px;
    background: #FCFCFC;
    border-radius: 15px;
    width: 512px;
    height: 273px;
}
.slide-name-block{
    display: flex;
    width: 246px;
    justify-content: space-between;
}
.slide_name{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 135%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0B0B0B;
}
.slide_avatar{
    width: 46px;
    height: 46px;
    border: 1px solid #E3E3E3;
    border-radius: 46px;    
}
.sdfsdf{
    border-radius: 50%;
}
.fifth-screen_2-slide-name-block {
    width: 190px;
}
.fifth-screen_2-slide_avatar{
    padding: 9.18px 9px 7.73px 9px;
}
.fifth_slider-btn{
    background: white;
    
}
.slide_discription{
    color: #181818;
    padding-top: 32px;
}
.fifth-screen-slider-btns{
    padding-top: 30px;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
}
/*          /FIFTH          */


/*          SIXTH          */
.sixth-screen{
    position: relative;
    padding: 47px 0 112px 0;
}
.sixth-screen-container{
    padding-left: 184px;
    padding-right: 31px;
}
.sixth-screen-subtitle{
    position: absolute;
    padding-top: 50px;
}
.sixth-screen-content{
    display: flex;
    justify-content: space-between;
}
.sixth-screen-card{
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 512px;

    background: #FCFCFC;
    box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}
.card_image{
    width: 344px;
    height: 218px;  
}
.card_title{
    text-align: center;    
    margin: 21px 0;
}
.card_dicr{
    max-width: 264px;
    text-align: center;
    margin: 0 auto;
    
}
.card_btn{
    padding-left: 10px;
    padding-top: 56px;
    color: #3888FF;
}
.card_btn-arrow{
    padding-left: 5px;
}



.sixth-screen-map{
    margin-left: 23px;
    width: 1223px;
    height: 700px;
    position: relative;
    background: url(/trickster69-JSFE2021Q1/online-zoo/assets/images/world.png);
}
.sixth-screen-map_item {
    
    width: 96px;
    height: 124px;
    
    background: #ffc000;

    width: 96px;
  height: 124px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  border: 3px solid black;
  /* transform: rotate(-45deg); */
    
    position: relative;
    transition: 0.5s;
}
.img_item{
    position: absolute;
    top: 10px;
    left: 25px;
}
/*          /SIXTH          */


/*          FOOTER          */
.footer{
    background: #0B0B0B;
    padding-top: 100px;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3, 553px 551px);
    /* justify-content: space-between; */
}
.footer_logos{
    display: flex;
    height: 371px;
    justify-content: space-between;
    flex-direction: column;

}
.footer-rs-logos{
    display: flex;
    justify-content: space-between;
    width: 303px;
}
.x{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px;
    color: #FCFCFC;
}
.footer-navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 384px;
}
.footer-navigation-subtitle{
    color: #FCFCFC;
    padding-bottom: 40px;

}
.footer-navigation-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 318px;
}
.footer-navigation-item a{
    text-decoration: none;
    font-size: 18px;
    line-height: 154%;   
    color: #BCBCBC;
}
.footer-third-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 368px;
}
.footer-third-column-donation{
   max-width: 339px;
   height: 257px; 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.donation_subtitle{
    color: #FCFCFC;
}
.donation_discr{
    color: #BCBCBC;
    padding-top: 9px;
    /* padding: 46px 0 40px; */
}
.donation-btn{
    border: 2px solid #FCFCFC;
    background: #0B0B0B;
    white-space: nowrap;
}

.footer-third-column-social{
    display: flex;
    justify-content: space-between;
    max-width: 352px;
}
.footer-third-column-social_item a{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #BCBCBC;
}
.footer-copyright-block{
    margin-top: 150px;
    padding: 50px 0 59px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #747474;
}
.copyright{
    font-size: 16px;
    line-height: 145%;
    color: #BCBCBC;
}
/*          /FOOTER          */